.background{
  background:
  linear-gradient(red, transparent),
  linear-gradient(to top left, lime, transparent),
  linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
  height: 77vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: rgba(25, 67, 126, 0.89);
  height: 15vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-line {
  padding-top: 12.5px;
  display: flex;
}


.coment-img {
  margin-right: 500px;
  margin-left: 75px;
  border-radius: 50%;
  width: 170px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  color: rgb(95, 229, 17);
  text-align: center;
  margin-top: 20px;
  margin-right: 550px;
  margin-left: 375px;
  font-size: 500%;
  font-family: 'Tinos';
  font-weight: 400;
}

.nav-item_2 {
  color: rgb(95, 229, 17);
  text-align: center;
  margin-top: 40px;
  font-size: 350%;
  margin-left: 115px;
  font-family: 'Tinos';
  font-weight: 400;
}

.inputs {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  width: auto;
  color: rgb(16, 30, 179);
  text-align: center;
  font-size: 25px;
}


.count_percent {
  margin-left: 250px;
}

.js-btn-result {
  position: absolute;
  color: #000000; 
  font-size: 35px;
  padding-top: 5px;
  margin-right: 250px;
}

.js-output {
  position: absolute;
  color: rgb(16, 30, 179);
  margin-left: 306px;
  font-size: 40px;
}

.js-btn-result2 {
  position: absolute;
  color: rgb(0, 0, 0); 
  font-size: 35px;
  padding-top: 5px;
  right: 715px;
}

.js-output2 {
  position: absolute;
  color:rgb(16, 30, 179);
  padding-top: 20px;
  margin-left: 153px;
  font-size: 40px;
}



.Finish{
position: absolute;
color:rgb(0, 0, 0); 
font-size: 80px;
padding-top: 70px;
margin-left: 890px;
text-align: center;
font-weight: 400;
font-family: 'Tinos';
}

.js-outputfinish{
  color:rgb(16, 30, 179);
}

.footer{
  background-color: #000000;
  padding: 40px 0px;
  color: #FFF;
  text-align: center;
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px){
div.input{
font-size: 60%;
display:center;
}
}

div.buttons {
  display: flex;

}

.js-input-dd1 {
  right: 10px;
  position: relative;
}

.js-input-dd, .js-input-3, .js-input-o, .js-input-m, .js-input-b, .js-input-d, .js-input-f,
 .js-input-q, .js-input-m, .js-input-5 {
  position: relative;
  margin-bottom: 5px;
}


.js-input-ss, .js-input-eda, .js-input-cs,
.js-input-gaf, .js-input-ya, .js-input-ia, 
.js-input-pap, .js-input-12, .js-input-13 {
  position: relative;
  margin-bottom: 5px;
}

.js-btn-result {
  position: relative;
  left: 155px;
}

@media(max-width: 1000px) {
  

}


